body {
  /* Margin bottom by footer height */
  height: 100vh;
  /*background: rgb(204,136,0);
  background: linear-gradient(0deg, rgba(204,136,0,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);*/ }

/* ------ fonts ------ */
/* ------ colors ------ */
/* ------ menu + grid settings ------ */
/***** Scrollbar *****/
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  display: none; }

/* Misc global styles */
a {
  color: #000; }

p {
  margin-bottom: 0; }

hr {
  margin: 5px 0;
  border-top: 1px solid #ff80dd; }

.active {
  color: #ff80dd; }

/* --------------------------------------------------------------
   ----------------- Entrance / Landing Page --------------------
   -------------------------------------------------------------- */
.sockDiv {
  text-align: center;
  position: fixed;
  display: block;
  width: 100%;
  bottom: 100px; }
  .sockDiv p {
    font-size: 12px;
    text-transform: capitalize; }
  .sockDiv a:hover {
    text-decoration: none;
    color: #ff80dd; }

.sockImg {
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  height: 100px; }

.sockImg:hover {
  transform: scale(8) translateY(-30px) translateX(-10px);
  -webkit-transition: transform 10s;
  transition: transform 10s; }

.entranceImg {
  background-image: url("/images/entrance.jpg");
  width: 1vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80vw; }

/* --------------------------------------------------------------
   --------------------- Banner and Menu ------------------------
   -------------------------------------------------------------- */
#jgBanner {
  display: none; }

#mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  /*border: $pink-borders;*/
  background-color: white;
  z-index: 100;
  margin: 10px auto; }

#jG,
#menuBar,
#artFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  border-bottom: 1px solid #ff80dd;
  width: 100%;
  color: #000;
  background-color: #fff; }

#jG,
#menuBar {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  text-transform: uppercase; }

#jG {
  justify-content: center;
  font-size: 5vw; }

#menuBar a {
  font-size: 4vw; }

#artFilters button {
  font-family: "Helvetica", sans-serif;
  padding: 0;
  font-size: 3.3vw;
  text-transform: lowercase;
  background: #fff; }

#artFilters button:focus, #artFilters button:focus {
  outline: 0 none;
  box-shadow: none;
  color: #ff80dd; }

#artFilters button.btn.selected {
  color: #ff80dd; }

/* hover links PINK */
#jG:hover,
#mainMenu a:hover,
.textLink a:hover,
#artFilters button:hover,
.footer a:hover {
  transition: 0.5s ease;
  color: #ff80dd;
  text-decoration: none; }

#jG:focus,
#mainMenu a:focus,
.textLink a:focus,
#artFilters button:focus,
.footer a:hover {
  color: #000;
  text-decoration: none; }

/* --------------------------------------------------------------
   ------------------------ Home Page ---------------------------
   -------------------------------------------------------------- */
.welcomeHomeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

/* --------------------------------------------------------------
   ------------------------ Work Page ---------------------------
   -------------------------------------------------------------- */
.portfolio {
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  margin: 0 auto; }

.grid {
  width: 80vw;
  display: none;
  /* stops content from flashing before fading in */
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  position: relative; }

.grid-item {
  margin: 10px 0; }
  .grid-item img {
    width: 100%; }

/* clearfix */
.grid:after {
  content: '';
  clear: both;
  visibility: hidden;
  padding: 50px 0px 10px 0px;
  margin: 0 auto; }

/* --------------------------------------------------------------
   ------------------------- About/CV ---------------------------
   -------------------------------------------------------------- */
.aboutText {
  text-align: justify;
  text-justify: inter-ideograph; }

#aboutDiv {
  margin-left: 5px;
  /* accomodates scrollbar width, centering looks better */ }

#cvDiv,
#aboutDiv {
  display: none;
  /* stops content from flashing before fading in */
  margin: 0;
  padding: 10px 15%; }

.cvYear {
  font-weight: bold; }

.cvTitle {
  font-weight: bold;
  font-size: 14px; }

.cvText, .cvTitle, .cvYear, .aboutText, #aboutDiv p, .textLink {
  display: inline-block;
  color: #000;
  font-size: 12px; }

/* --------------------------------------------------------------
   -------------------------- Footer ----------------------------
   -------------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  color: #000;
  background-color: #fff;
  width: 100vw;
  /*border: $pink-borders;*/
  border-top: none;
  height: 20px;
  margin: 0 auto;
  position: absolute; }
  .footer p {
    margin: 0; }
  .footer a {
    color: #000; }

/* -----------------------------------------------------------------------------
   ------------------------------ Larger Screens -------------------------------
   -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    padding: 0; }
  /***** Scrollbar *****/
  ::-webkit-scrollbar {
    width: 10px; }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 20px;
    border-radius: 0;
    border: 1px solid #ff80dd; }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #000; }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #fff; }
  /***** end of scrollbar *****/
  /* --------------------------------------------------------------
   --------------------- Banner and Menu ------------------------
   -------------------------------------------------------------- */
  #jgBanner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%; }
    #jgBanner img {
      height: 10em; }
  /* only on the work page */
  .filterBar {
    flex-direction: row;
    justify-content: space-around;
    height: 30px; }
  #artFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  #jG {
    font-size: 2.8vw; }
  #menuBar a,
  #artFilters button {
    font-family: "Poppins", sans-serif;
    font-size: 2vw; }
  /* --------------------------------------------------------------
     ------------------------ Work Page ---------------------------
     -------------------------------------------------------------- */
  .portfolio {
    width: 80vw;
    min-height: 30em;
    max-height: 35em;
    margin: 0 auto; }
  .grid {
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    padding-left: 10px; }
  a.fancybox {
    outline: none; }
  .grid-item {
    width: 20rem; }
  /* clearfix */
  .grid:after {
    content: '';
    clear: both;
    visibility: hidden;
    padding: 50px 0px 10px 0px;
    margin: 0 auto; }
  /* --------------------------------------------------------------
     ------------------------- About/CV ---------------------------
     -------------------------------------------------------------- */
  .aboutText {
    text-align: justify;
    text-justify: inter-ideograph; }
  #aboutDiv {
    margin-left: 5px;
    /* accomodates scrollbar width, centering looks better */ }
  #cvDiv,
  #aboutDiv {
    display: none;
    /* stops content from flashing before fading in */
    margin: 0;
    padding: 20px 10em; }
  .cvYear {
    font-weight: bold; }
  .cvTitle {
    font-weight: bold;
    font-size: 14px; }
  .cvText,
  .cvTitle,
  .cvYear,
  .aboutText,
  #aboutDiv p,
  .textLink {
    display: inline-block;
    color: #000;
    font-size: 12px; } }
